<p><strong>Greeting:</strong> {{greeting}}</p>
<p><strong>Uppercase:</strong> {{greeting | uppercase }}</p>
<p><strong>Lowercase:</strong> {{greeting | lowercase }}</p>
<p><strong>Titlecase:</strong> {{greeting | titlecase }}</p>
<p><strong>Slice:</strong> {{ greeting | slice:2 }}</p>
<p><strong>Currency:</strong> {{ 25 | currency:'INR' }}</p>
<p><strong>JSON:</strong> {{ person | json }}</p>
<p><strong>Percent:</strong> {{ 0.50 | percent }}</p>
<p><strong>Number:</strong> {{ 25.45678 | number:'3.2-4' }}</p>
<p><strong>Date:</strong> {{ today | date:'d/MM/yyyy' }}</p> 
<p><strong>Date:</strong> {{ today | customDate }}</p> 
