<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <nav>
                <button class="btn btn-outline-primary btn-sm" routerLink="/">Home</button>&nbsp;
                <button class="btn btn-outline-primary btn-sm" routerLink="/student-list">Student List</button>&nbsp;
                <button class="btn btn-outline-primary btn-sm" routerLink="/signup">Signup</button>&nbsp;
                <button class="btn btn-outline-primary btn-sm" routerLink="/employees">CRUD</button>&nbsp;
                <button class="btn btn-outline-primary btn-sm" routerLink="/pipes">Pipes</button>&nbsp;
            </nav>
        </div>
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->