<p>
  home works!
</p>
<hr/>

<ol>
  <li *ngFor="let emp of employees | async">{{ emp.name }}</li>
</ol>

<hr/>

<carousel>
  <slide>
    <img src="../../assets/images/carousel/slider1.jpg" alt="slider1" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/images/carousel/slider2.jpg" alt="slider2" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/images/carousel/slider3.jpg" alt="slider3" style="display: block; width: 100%;">
  </slide>
</carousel>

